/*Header*/
header {
  display: flex;
  justify-content: center;
}

/*Corps*/
.corps {
  width: 90%;
  margin: auto;
}

/*Searchbar */

.search_bar_container {
  position: relative;
}

#search_bar {
  width: 100%;
  padding: 10px;
  background: #E7E7E7;
  border: none;
  border-radius: 5px;
}

.search_bar_container i {
  position: absolute;
  top: 12px;
  right: -10px;
  font-size: large;
}

#search_filter {
  display:flex;

}

/*Ingredients Filter*/

.default {
  visibility: hidden;
}
.hg25{
  height:25px!important;
}
#tag_container div{
  display: flex;
  align-items: center;
  margin:10px
}
.close{
  padding:5px;
}

.specificFilter {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
 height: max-content;
}
.inputFilter{
  grid-column: 1/10;
}
.toggle_button{
  grid-column: 10/13;
}

#ingredientFilter{
  background: #3282F7;
}
.ingredientList{
  grid-column: 1/13;
  
}
#ingredient{
 display: grid;
  grid-template-columns: repeat(3,1fr);
  height:500px;
  overflow: scroll;
}
#ingredient::-webkit-scrollbar {
  display: none;
}

#appareilFilter {
  background: #68D9A4;
}

#ustensilFilter {
  background: #ED6454;
}

.inputFilter {
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
}

.inputFilter::placeholder {
  color: white;
}

.clicked{
  pointer-events: none;
}

#tag_error{
  font-weight: bold;
  font-family: Arial;
  color: white;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  background: #ff5d5d;
  padding: 8px 10px;
  border-radius: 6px;
  animation:disparition 400ms;
  animation-delay: 0s;
}
@keyframes disparition {
  from{
opacity:100%
  }
  to{
opacity: 0%;
  }
}
/*Recipes List*/

#recipes_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media(max-width: 1200px) {
  #recipes_list {
    grid-template-columns: repeat(2, 1fr);
  }

  .ingredientFilter {
    grid-column: 1 / 4;
  }

  .appareilFilter {
    grid-column: 4/7;
  }

  .ustensilFilter {
    grid-column: 7/10;
  }
}

@media(max-width: 768px) {
  #recipes_list {
    grid-template-columns: repeat(1, 1fr);
  }

  .ingredientFilter {
    grid-column: 1 / 5;
  }

  .appareilFilter {
    grid-column: 5/9;
  }

  .ustensilFilter {
    grid-column: 9/13;
  }
}

.all_recipes {
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  margin: 0px;
  height: 200px;
  background: #E7E7E7;
  border-radius: 0px 0px 10px 10px;
}

.all_recipes p,
.all_recipes ul {
  padding: 0px;
  margin: 5px;
}

ul li {
  list-style-type: none;
}

.recipes_card {
  margin: 5px;
  height: 400px;
  position: relative;
  background: #C7BEBE;
  border-radius: 10px;
}

.description {
  height: 130px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Tag */
#tag_container,
.tagInput {
  display: flex;
}
#tag_container{
  flex-wrap: wrap;
}
.tagInput {
  display: inline-flex;
  background: #3282F7;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  color: white;
}

.tag{
  padding:1px;
  margin-right:2px;
}
.closeBtn{
  padding:1px;
}