*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
/*Header*/
header {
  display: flex;
  justify-content: center;
}
header img{
  margin:25px;
}

/*Corps*/
.corps {
  width: 90%;
  margin: auto;
}

/*Searchbar */

.search_bar_container {
  position: relative;
  margin:10px 0px;
}

#search_bar {
  width: 100%;
  padding: 10px;
  background: #E7E7E7;
  border: none;
  border-radius: 5px;
}

.search_bar_container i {
  position: absolute;
  top: 12px;
  right: -10px;
  font-size: large;
}

#search_filter {
  display:flex;
  position: absolute;
  z-index: 2;
  margin: auto;
  width: 90%;
}

/*Ingredients Filter*/

.default {
  visibility: hidden;
}
.hg25{
  height:25px!important;
}
#tag_container div{
  display: flex;
  align-items: center;
  margin:10px;
  padding:5px 10px;
  height:100%;
  border-radius:5px;
}
#tag_container div p{
  margin:0px;
}
.close{
  background: none;
    border: none;
    color: white;
    padding: 3px 5px 0px 5px;
}

.specificFilter {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
 height: max-content;
 border-radius:5px;
 padding:15px;
 margin:5px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: large;
 color:white;
}
.inputFilter{
  grid-column: 1/10;
}
.button{
  grid-column: 12/13;
    background: none;
    border: none;
    color: white;
    font-size: large;
}
.list span, button{
  cursor: pointer;
}
#ingredientFilter{
  background: rgba(50, 130, 247,0.95);
}
.ingredientList{
  grid-column: 1/13;
  
}
#ingredient{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  overflow: scroll;
  padding: 20px;
  grid-gap: 10px;
}
#ingredient::-webkit-scrollbar {
  display: none;
}

#appareil{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  overflow: scroll;
  padding: 20px;
  grid-gap: 10px;
}
#appareil::-webkit-scrollbar {
  display: none;
}
#appareilFilter {
  background: rgba(104, 217, 164,0.95);
}
.appareilList{
  grid-column: 1/13;

}

#ustensil{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  overflow: scroll;
  padding: 20px;
  grid-gap: 10px;
}
#ustensil::-webkit-scrollbar {
  display: none;
}
#ustensilFilter {
  background: rgba(237, 99, 84,0.95);
}

.ustensilList{
  grid-column: 1/13;
}

.inputFilter {
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
}

.inputFilter::placeholder {
  color: white;
}

.clicked{
  pointer-events: none;
}

.active{
  display: grid !important;
}
.alreadyClicked{
  display:none;
}
/*Recipes List*/

#recipes_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin:auto;
  width:90%;
  position: relative;
  top: 95px;
}
.noRecipes_section{
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.noRecipes_info{
  text-align: center;
}
.noRecipes_info span{
  font-weight: bold;
  font-size: larger;
}

@media(max-width: 1200px) {
  #recipes_list {
    grid-template-columns: repeat(2, 1fr);
  }

  .ingredientFilter {
    grid-column: 1 / 4;
  }

  .appareilFilter {
    grid-column: 4/7;
  }

  .ustensilFilter {
    grid-column: 7/10;
  }
  #search_filter {
    flex-direction: column;
    position: initial;
    margin: auto;
    width: 100%;
}
#recipes_list {
  top: 35px;
}


}

@media(max-width: 768px) {
  #recipes_list {
    grid-template-columns: repeat(1, 1fr);
  }

  .ingredientFilter {
    grid-column: 1 / 5;
  }

  .appareilFilter {
    grid-column: 5/9;
  }

  .ustensilFilter {
    grid-column: 9/13;
  }
}

.all_recipes {
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 150px;
  padding: 15px;
  margin: 0px;
  height: 200px;
  background: #E7E7E7;
  border-radius: 0px 0px 10px 10px;
  justify-items: center;
    align-items: start;
}

.all_recipes p,
.all_recipes ul {
  padding: 0px;
  margin: 5px;
}
ul{
  height: 150px;
  overflow: hidden;
}
ul li {
  list-style-type: none;
}

.recipes_card {
  margin: 5px;
  height: 400px;
  position: relative;
  background: #C7BEBE;
  border-radius: 10px;
}
.name-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Tag */
#tag_container,
.tagInput {
  display: flex;
}
#tag_container{
  flex-wrap: wrap;
}
.tagInput {
  display: inline-flex;
  background: #3282F7;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  color: white;
}

.tag{
  padding:1px;
  margin-right:2px;
}
.closeBtn{
  padding:1px;
}

.tag-ingredient {
  background-color: #3282F7;
  color: white;
}

.tag-appareil {
  background-color: #68D9A4;
  color: white;
}

.tag-ustensil {
  background-color: #ED6454;
  color: white;
}
